# compiled python files
*.pyc

# build.sh temporary output
/build/

# build.sh installed libraries
#/autoload/
#/dbindexer/
#/djangoappengine/
#/djangotoolbox/

scripts/controller1.js~
server.py~
*.html~
*.swp
scripts/app-config.js~
scripts/app-main.js~
scripts/controller-date.js~
scripts/controller-list.js~
datamodel.py~
*.yaml~~
*.yaml~
*.css~
*.py~
*.js~
