<div class="form">

    <h1>Create Change Request</h1>

    <p class="formfield">
        <label for="textarea">Summary: </label>
        <textarea cols="80" rows="5" ng-model="cr.summary" > </textarea>
    </p>
    <p class="formfield">
        <label for="textarea">Technician: </label>
        <input type="text" ng-model="cr.technician" >
    </p>
    <p class="formfield">
        <label for="textarea">Description: </label>
        <textarea cols="80" rows="5" ng-model="cr.description" > </textarea>
    </p>
    <p class="formfield">
        <label for="textarea">Impact: </label>
        <textarea cols="80" rows="5" ng-model="cr.impact" > </textarea>
    </p>
    <p class="formfield">
        <label for="textarea">Documentation: </label>
        <textarea cols="80" rows="5" ng-model="cr.documentation" > </textarea>
    </p>
    <p class="formfield">
        <label for="textarea">Rationale: </label>
        <textarea cols="80" rows="3" ng-model="cr.rationale" > </textarea>
    </p>
    <p class="formfield">
        <label for="textarea">Implementation Steps: </label>
        <textarea cols="80" rows="5" ng-model="cr.implementation_steps" > </textarea>
    </p>
    <p class="formfield">
        <label for="textarea">Tests Conducted: </label>
        <textarea cols="80" rows="5" ng-model="cr.tests_conducted" > </textarea>
    </p>
    <p class="formfield">
        <label for="textarea">Risks: </label>
        <textarea cols="80" rows="5" ng-model="cr.risks" > </textarea>
    </p>
    <p class="formfield">
        <label for="textarea">Backout Plan: </label>
        <textarea cols="80" rows="5" ng-model="cr.backout_plan" > </textarea>
    </p>
    <p class="formfield">
        <label for="textarea">Communication Plan:  </label>
        <textarea cols="80" rows="5" ng-model="cr.communication_plan" > </textarea>
    </p>
    <p class="formfield">
        <label for="textarea">Layman Description: </label>
        <textarea cols="80" rows="5" ng-model="cr.layman_description" > </textarea>
    </p>

    <p class="formfield">
        <label for="textarea">Priority: </label>
        <select ng-model="cr.priority">
            <option ng-repeat="p in priorities">{{p}}</option>
        </select>
    </p>

    <button ng-click="ctrl.add(cr)">Add</button>
</div>
