<div>

    <ng-include onload="ctrl.onload()" src="'/views/requestform.html'"></ng-include>    
    
    <div class="requestform">
	<div class="formfield">
            <label for="tags">Tags: </label>
            <tags-input id="tags" ng-model="cr.tags"> 
		<auto-complete id="autocomplete" source="getTags($query)" min-length="1"></auto-complete>
	    </tags-input>
	</div>
    </div>
    
    <div class="formButtons">
	<button ng-click="ctrl.add(cr)">Publish</button>
	<button ng-click="ctrl.sendDraft(cr)">Save as Draft</button>
    </div>
</div>
