<div>

    <ng-include onload="ctrl.onload()" src="'static/views/requestform.html'"></ng-include>
    
    <div class="requestform">
        <div class="formfield">
            <label for="tags">Tags</label>
            <tags-input id="tags" ng-model="cr.tags" allowed-tags-pattern="^[a-zA-Z0-9\-\.\s:]+$">
                <auto-complete id="autocomplete" source="getTags($query)" min-length="1"></auto-complete>
            </tags-input>
        </div>
        <div class="formfield" ng-show="saved">
            <label for="status"></label>
            <p><span class="glyphicon glyphicon-saved"></span>
                Draft saved {{savedTime | date:'mediumTime'}}
	    </div>
    </div>

    <div class="formButtons">
        <button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.add(cr)">
            Publish
        </button>
        <button type="button" class="btn btn-info btn-lg" ng-click="ctrl.sendDraft(cr)">
            <span class="glyphicon glyphicon-save"></span>
            Save as Draft
        </button>
    </div>
</div>
