<!doctype html>
<html ng-app="module1">

<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/stylesheets/main.css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/ng-grid.min.css"></link>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/ng-tags-input.css"></link>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>


    <script src="static/scripts/angular.js"></script>
    <!-- <script src="static/scripts/angular-animate.js"></script> -->
    <script src="static/scripts/angular-route.js"></script>
    <script src="static/scripts/ng-grid.min.js"></script>
    <script src="static/scripts/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="static/scripts/ng-tags-input.js"></script>

    <script src="static/controllers/app-main.js"></script>
    <script src="static/controllers/filters.js"></script>
    <script src="static/controllers/controller-list.js"></script>
    <script src="static/controllers/controller-create.js"></script>
    <script src="static/controllers/controller-update.js"></script>
    <script src="static/controllers/controller-date.js"></script>
    <script src="static/controllers/controller-group.js"></script>
    <script src="static/controllers/controller-search.js"></script>
    <script src="static/controllers/controller-preferences.js"></script>

    <title>Change Management</title>


</head>

<body ng-controller="main">
    <div id="navbar">
        <a ng-href="#" id="home">
            <button>Home</button>
        </a>
        <a ng-href="#/Create">
            <button>Create new request</button>
        </a>
        <a ng-href="#/CreateTemplate">
            <button>Create new template</button>
        </a>
        <div id="login">
            Currently logged in as: <b>{{user}}</b>
            <a href="/Logout">
                <button>Logout</button>
            </a>
            <a ng-href="#/Preferences">
                <button>Preferences</button>
            </a>
        </div>
        <br>
    </div>


    <div ng-view id="view">
    </div>
</body>

</html>
