<!doctype html>
<html ng-app="module1">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js"></script>
    <script src="scripts/controller1.js"></script>
  </head>
  <body>
    <div class="view-animate-container">
      <div ng-view class="view-animate"></div>
    </div>
  </body>
</html>
