<div id="otherListStuff">

    <h1>Current Change Requests</h1>
    
    <a ng-href="#/Create"><button>Create new request</button></a>
    <br><br>

    <div id="search">
        <select ng-model="searchParams.field" required ng-options="f for f in searchableFields">
        </select>
        
        <input type=text ng-model="searchParams.text">
        <button ng-click="ctrl.search()">Search</button>

    </div>
    <button ng-click="ctrl.getDrafts()">Get Drafts</button>
    <br>
    <!--<div ng-repeat="cr in crs">{{cr.summary}} {{cr.priority}}
        <a ng-href="#/id={{cr.id}}">[Edit]</a>
        <a href ng-click="ctrl.remove($index)">[X]</a>
    </div>-->
</div>

<div class="gridStyle" ng-grid="gridOptions" id="grid"></div>

