<div id="otherListStuff">
    <div width="100%">
        <tabset id="tabs" type="'pills'">
            <tab heading="Change Requests" select="onSelectCRs()"></tab>
            <tab heading="My Drafts" select="onSelectMyDrafts()"></tab>
            <tab heading="Awaiting Approval" select="onSelectApproval()" ng-show="inCommittee"></tab>
            <tab heading="Recently Approved" select="onSelectRecentlyApproved()" ng-show="inCommittee"></tab>
            <tab heading="Templates" select="onSelectTemplates()"></tab>
        </tabset>
        <div class="input-group" id="fullSearch">
            <input type="text" class="form-control" ng-model="search.query" ng-keypress="onEnter($event, list.fullsearch)">
            <span id="search-icon" class="input-group-addon">
                <span class="glyphicon glyphicon-search" ng-click="list.fullsearch()"></span>
            </span>
            
        </div>
        <a href="#/search">
            <button>Advanced</button>
        </a>
    </div>
    <button ng-click="list.clearDrafts()" ng-show="mode == 'drafts'">Clear Drafts</button>
    <br ng-show="draftsMode">
    <!--<div ng-repeat="cr in crs">{{cr.summary}} {{cr.priority}}
	<a ng-href="#/id={{cr.id}}">[Edit]</a>
	<a href ng-click="list.remove($index)">[X]</a>
    </div>-->
</div>
<div class="gridStyle" ng-grid="gridOptions" id="grid"></div>

