
<h1 id="heading"></h1>

<p class="formfield">
    <label for="summary">Summary: </label>
    <textarea id="summary" cols="80" rows="5" ng-model="cr.summary" > </textarea>
</p>
<p class="formfield">
    <label for="technician">Technician: </label>
    <input id="technician" type="text" ng-model="cr.technician" >
</p>
<p class="formfield">
    <label for="description">Description: </label>
    <textarea id="description" cols="80" rows="5" ng-model="cr.description" > </textarea>
</p>
<p class="formfield">
    <label for="impact">Impact: </label>
    <textarea id="impact" cols="80" rows="5" ng-model="cr.impact" > </textarea>
</p>
<p class="formfield">
    <label for="documentation">Documentation: </label>
    <textarea id="documentation" cols="80" rows="5" ng-model="cr.documentation" > </textarea>
</p>
<p class="formfield">
    <label for="rationale">Rationale: </label>
    <textarea id="rationale" cols="80" rows="3" ng-model="cr.rationale" > </textarea>
</p>
<p class="formfield">
    <label for="implementationSteps">Implementation Steps: </label>
    <textarea id="implementationSteps" cols="80" rows="5" ng-model="cr.implementation_steps" > </textarea>
</p>
<p class="formfield">
    <label for="testsConducted">Tests Conducted: </label>
    <textarea id="testsConducted" cols="80" rows="5" ng-model="cr.tests_conducted" > </textarea>
</p>
<p class="formfield">
    <label for="risks">Risks: </label>
    <textarea id="risks" cols="80" rows="5" ng-model="cr.risks" > </textarea>
</p>
<p class="formfield">
    <label for="backoutPlan">Backout Plan: </label>
    <textarea id="backoutPlan" cols="80" rows="5" ng-model="cr.backout_plan" > </textarea>
</p>
<p class="formfield">
    <label for="communicationPlan">Communication Plan:  </label>
    <textarea id="communicationPlan" cols="80" rows="5" ng-model="cr.communication_plan" > </textarea>
</p>
<p class="formfield">
    <label for="laymanDescription">Layman Description: </label>
    <textarea id="laymanDescription" cols="80" rows="5" ng-model="cr.layman_description" > </textarea>
</p>

<p class="formfield">
  <label for="startDate">Start Time: </label>
  <div id="startDate"> 
    <span ng-controller="DateCtrl" ng-model="cr.startTime">
        <input type="text" datepicker-popup="{{format}}" ng-model="cr.startDate" datepicker-options="dateOptions" is-open="opened">
        <button ng-click="open($event)">Select</button>
        <timepicker minute-step="10"></timepicker>
    </span>
  </div>
</p>
<p class="formfield">
  <label for="endDate">End Time: </label>
  <div id="endDate"> 
    <span ng-controller="DateCtrl" ng-model="cr.endTime">
        <input type="text" datepicker-popup="{{format}}" ng-model="cr.endDate" datepicker-options="dateOptions" is-open="opened">
        <button ng-click="open($event)">Select</button>
        <timepicker minute-step="10"></timepicker>
    </span>
  </div>
</p>

<p class="formfield">
    <label for="priority">Priority: </label>
    <select id="priority" ng-model="cr.priority">
        <option ng-repeat="p in priorities">{{p}}</option>
    </select>
</p>

