

<div>
    <a  id="addField" href ng-click="searchParams.push({})" >Add Search Field</a>
    <select ng-model="match">
        <option value="0">Match ANY Query</option>
        <option value="1" selected="selected">Match ALL Queries</option>
    </select>
    

    <ul id="searchList">	  
        <li class="searchItem" ng-repeat="s in searchParams">
            <!--<input class='checkbox' type='checkbox' ng-model="s.ignore">NOT-->
            <select ng-model="s.field" required ng-options="x.field as x.display for x in searchableFields" >
            </select>
            
            <select required ng-model="s.compare">
                <option value="=" > Match (=) </option>
                <option value="!="> Do not match (!=) </option>
                <option value=">" > After  (>) </option>
                <option value="<" > Before (<) </option>
                <option value=">="> On or after  (>=) </option>
                <option value="<="> On or before (<=) </option>
            </select>
            
            <input type=text ng-model="s.text" placehold="{{s.field}}">
            <a href ng-click="searchParams.splice($index,1)">X</a><br><br>
            
        </li>
    </ul>
    <div> 
        Sort by:
        <select ng-model="sortField" required>
            <option ng-selected="f=='created_on'" ng-repeat="f in sortableFields">{{f}}</option>
        </select>
        <select ng-model="direction">
            <option value="ascending">Ascending</option>
            <option value="descending" selected="selected">Descending</option>
        </select>
    </div>
    
    <button id="searchButton" ng-click="list.search()">Search</button>
</div>
