

<div>
    <a  id="addField" href ng-click="searchParams.push({})" ><font size="5">+</font></a>
    <ul id="searchList">	  
        <li class="searchItem" ng-repeat="s in searchParams">
            <select ng-model="s.field" required ng-options="f for f in searchableFields">
            </select>
            <input type=text ng-model="s.text">
            <a href ng-click="searchParams.splice($index,1)">X</a>
        </li>
    </ul>
    <div> 
        Sort by:
        <select ng-model="sortField" required>
            <option ng-selected="f=='created_on'" ng-repeat="f in searchableFields">{{f}}</option>
        </select>
        <select>
            <option value="0">Ascending</option>
            <option value="1" selected="selected">Descending</option>
        </select>
    </div>
    
    <button id="searchButton" ng-click="list.search()">Search</button>
</div>
