<div id="editpage">
    <ng-include onload="ctrl.onload()" src="'static/views/requestform.html'"></ng-include>
    
    <div class="requestform">
	    <div class="formfield">
            <label for="tags">Tags</label>
            <tags-input id="tags" ng-model="cr.tags"
			            allowed-tags-pattern="^[a-zA-Z0-9\-\.\s:]+$">
		        <auto-complete id="autocomplete" source="getTags($query)" min-length="1"></auto-complete>
	        </tags-input>
	    </div>
	    <div class="formfield">
            <label for="status">Status</label>
            <p id="status">{{cr.status}}

	    </div>
    </div>
    

    <div class="formButtons">
        <button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.update(cr)" ng-show="cr.status != 'template'">Publish</button>
        <button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.templateToDraft(cr)" ng-show="cr.status == 'template'">
            <span class="glyphicon glyphicon-plus"></span>
            Make Change Request
        </button>
        <button type="button" class="btn btn-info btn-lg" ng-click="ctrl.update(cr)" ng-show="cr.status == 'template'">Edit Template</button>
        <button type="button" class="btn btn-warning btn-lg" ng-click="ctrl.clone(cr)" ng-show="cr.status == 'template'">Clone</button>
        <button type="button" class="btn btn-info btn-lg" ng-click="ctrl.sendDraft(cr)" ng-show="cr.status != 'template'">
            <span class="glyphicon glyphicon-save"></span>
            Save as Draft
        </button>
        <button type="button" class="btn btn-info btn-lg" ng-click="ctrl.approve(cr)" ng-show="cr.status == 'created'">
            <span class="glyphicon glyphicon-ok"></span>
            Approve
        </button>
        <button type="button" class="btn btn-info btn-lg" ng-click="unapprove()" ng-show="cr.status == 'approved'">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Unapprove
        </button>
        <button type="button" class="btn btn-success btn-lg" ng-click="ctrl.succeeded(cr,true)" ng-show="cr.status =='approved'">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Success
        </button>
        <button type="button" class="btn btn-warning btn-lg" ng-click="ctrl.succeeded(cr,false)" ng-show="cr.status =='approved'">
            <span class="glyphicon glyphicon-fire"></span>
            Failure
        </button>
        <button type="button" class="btn btn-info btn-lg" ng-click="ctrl.subscribe(cr)" ng-show="cr.cc_list.indexOf(user) < 0 && cr.status != 'template'" tooltip="Click to receive email updates" tooltip-placement="up" tooltip-trigger="mouseenter mouseleave">
            <span class="glyphicon glyphicon-plus"></span>
            Subscribe
        </button>
        <button type="button" class="btn btn-info btn-lg" ng-click="ctrl.unsubscribe(cr)" ng-show="cr.cc_list.indexOf(user) >= 0  && cr.status != 'template'" tooltip="Click to stop email updates" tooltip-placement="up" tooltip-trigger="mouseenter mouseleave">
            <span class="glyphicon glyphicon-minus"></span>
            Unsubscribe
        </button>
    </div>

    <textarea id="comment" class="well" ng-show="showComment" ng-model="cr.comment" placeholder="Leave a comment"></textarea>

    <div class="audit_trail">
        <div class="panel panel-default" ng-repeat="audit_entry in cr.audit_trail">
            <div class="panel-heading">
                On {{audit_entry.date | datetime}} <strong>{{audit_entry.user}}</strong> edited this request:
            </div>
            <div class="panel-body audit_entry">
                <ul class="audit_changes">
                    <li class="audit_change" ng-repeat="change in audit_entry.changes">
                        <p ng-if="change.property != 'tags' && change.property != 'cc_list' && change.property != 'startTime' && change.property != 'endTime'">Changed {{change.property}} from "{{change.from}}" to "{{change.to}}"</p>
                        <p ng-if="change.property == 'startTime' || change.property == 'endTime'"> Changed {{change.property}} from {{change.from | datetime}} to {{change.to | datetime}}.</p>
                        <ul class="additions" ng-if="change.property == 'tags' || change.property == 'cc_list'">
                            <li class="additions" ng-repeat="add in ctrl.getAdditions(change.from, change.to) track by $index">
                                <p> Added {{add}} to {{change.property}}.</p>
                            </li>
                            <li class="additions" ng-repeat="remove in ctrl.getRemovals(change.from, change.to) track by $index">
                                <p> Removed {{remove}} from {{change.property}}. </p>
                            </li>
                        </ul>
                        
                        
                    </li>
                </ul>
                <div class="well audit_comment" ng-show="audit_entry.comment">
                    {{audit_entry.comment}}
                </div>
            </div>
        </div>
    </div>
</div>
