<h1>Create Change Request</h1>
<div>
  Summary: <input type="text" ng-model="cr.summary"  >
</div>
<div>
  Description: <input type="text" ng-model="cr.description"  >
</div>
<div>
  Impact: <input type="text" ng-model="cr.impact"  >
</div>
<div>
  Documentation: <input type="text" ng-model="cr.documentation"  >
</div>
<div>
  Rationale: <input type="text" ng-model="cr.rationale"  >
</div>
<div>
  Implementation Steps: <input type="text" ng-model="cr.implementation_steps"  >
</div>
<div>
  Technician: <input type="email" ng-model="cr.technician" >
</div>
Priority: <select ng-model="cr.priority">
  <option ng-repeat="p in priorities">{{p}}</option>
</select>
<div><button ng-click="ctrl.add(cr)">Add</button>
</div>
<h1>Current Change Requests</h1>
<div ng-repeat="cr in crs">{{cr.summary}} {{cr.priority}}
  <a ng-href="#/id={{cr.id}}">[Edit]</a>
  <a href ng-click="ctrl.remove($index)">[X]</a></div>
<hr>
{{crs}}
<hr>
