/* site wide */
body, html {
    height: 100%;
    min-height: 100%;
}
a>button {
    color: black;
}
body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
  padding: 15px;
  padding-top: 70px;
}
#navbar{
    height: 50px;
}

/* grid page */
#otherListStuff{
    margin: 0;
    padding: 0;
}
#tabs {

}
#tabs .nav li{
    cursor: pointer;
}
#search {
    float: right;
}
#grid-nav{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
    display: flex;
}
#fullSearch{
    width: 40%;
    max-width: 700px;
    display: inline-table;
}
#search-icon{
    cursor: pointer;
}
#grid-buttons{
    

}
#grid-buttons>*{
  
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    /*width: 400px; */
}
#grid{
    clear: both;
}

/* create/edit pages */
.requestform{
    background-color: #F8F8F8;
    max-width: 1500px;
    width: 90%;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 30px;
}
.requestform label {
	font-weight: bold;
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 20%;
        padding-top: 10px;
}

.requestform .formfield {
    width: 100%;
    clear: both;
    margin: 5px auto;
    background-color: inherit;
}
.formfield>textarea[readonly]{
    border-style: none;
}
.formfield>textarea, .formfield .tags, .formfield>input{
    width: 70%;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
    resize: none;
    background-color: inherit;
}
#editpage .formfield>textarea.ng-dirty.ng-valid, #editpage .formfield .tags-input.ng-dirty.ng-valid, #editpage .formfield>input.ng-dirty.ng-valid, #editpage .formfield .datepicker input.ng-dirty.ng-valid, #editpage .formfield .timepicker.ng-dirty.ng-valid, #editpage .formfield>select.ng-dirty.ng-valid{
    background-color: hsl(210, 70%, 95%);
    border-style: solid;
    border-width: 1px;
}
.formfield>textarea.ng-dirty.ng-invalid, .formfield .tags-input.ng-dirty.ng-invalid, .formfield>input.ng-dirty.ng-invalid, .formfield .timepicker.ng-dirty.ng-invalid{ 
    border-color: red;
    border-width: 1px;
    border-style: solid;
}
#startDate, #endDate{
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 auto;
}
.formfield textarea:focus, .formfield input:focus{
    background-color: #FFFFFF;
}
.datepicker{
    width: 25em;
    float: left;
    margin-top: 40px;
    margin-right: 20px;
    flex: 0 0 auto;
}
.timepicker{
    flex: 0 0 auto;
}
.formButtons{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.calendar-icon{
    cursor: pointer;
}

/* edit page */
#comment{
    width: 30%;
    display: block;
    margin: 10px auto;
    background-color: #FFFFFF;
    resize: none;
}
.audit_changes {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
.audit_change {
    margin-bottom: 1em;
}
.audit_trail{
    width: 70%;
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#audit_trail_button{
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.audit_entry .audit_comment{
    margin-top: 20px;
    margin-bottom: 0;
}
.audit_change:last-child {
    margin-bottom: 0;
}
.requestform .formfield>p{
    padding-top:10px;
    font-weight: semibold;
}


/* advanced search page */
#searchList {
    list-style-type: none;
    margin-top: 10px; 
    margin-left: 0; 
    /*float: right;*/
}
.searchItem {
   
}
#searchButton{
    display: block;
    clear: both;
}
#addSearch{
    float: left;
}

