/* site wide */
body, html {
    height: 100%;
    min-height: 100%;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
  padding: 15px;
}
/* nav bar */
#home {
    width: 100px;
    float: left;
}
#login {
    float: right;

}
#login button {
    margin-left: 10px; 
}
#navbar {
    width: 100%;
    margin-bottom: 20px;
}
/* preferences page */
#preferences > label{
    max-width: 500px;
    width: 40%;
}
#preferences > input{
    width: 3em;
}
/* grid page */
#otherListStuff{
    margin: 0;
    padding: 0;
}
#tabs {
    margin-top: 20px;
}
#tabs .nav li{
    cursor: pointer;
}
#search {
    float: right;
}
#fullSearch{
    width: 30%;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 4px;
}
#search-icon{
    cursor: pointer;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    /*width: 400px; */
}

/* create/edit pages */
.requestform{
    background-color: #F8F8F8;
    max-width: 1500px;
    width: 90%;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.requestform label {
	font-weight: bold;
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 20%;
        padding-top: 10px;
}

.requestform .formfield {
    width: 100%;
    clear: both;
    margin: 0 auto;
    background-color: inherit;
}

.formfield textarea, .formfield .tags, .formfield input{
    width: 70%;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
    resize: none;
    background-color: inherit;
}
.formfield textarea:focus, .formfield input:focus{
    background-color: #FFFFFF;
}
.datepicker{
    float: left;
    margin-top: 40px;
    margin-right: 20px;
}
.formButtons{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* edit page */
#comment{
    width: 30%;
    display: block;
    margin: 10px auto;
    background-color: #FFFFFF;
}
.audit_changes {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
.audit_change {
    margin-bottom: 1em;
}
.audit_trail{
    width: 70%;
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#audit_trail_button{
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.audit_entry .audit_comment{
    margin-top: 20px;
    margin-bottom: 0;
}
.audit_change:last-child {
    margin-bottom: 0;
}


/* advanced search page */
#searchList {
    list-style-type: none;
    margin-top: 10px; 
    margin-left: 0; 
    /*float: right;*/
}
.searchItem {
   
}
#searchButton{
    display: block;
    clear: both;
}
#addSearch{
    float: left;
}

