body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
  padding: 15px;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    /*width: 400px; */
    min-height: 300px
}

label {
	font-weight: bold;
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 200px;
}

.buttons {
    text-align: right;
    width: 100%;
    
}


